@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims;
@using TicketApp.Data;
@model TicketApp.Models.SearchViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<h3>Keresés:</h3>
<form asp-controller="Home" asp-action="ShowSearchResult" method="post">

    <div class="form-group">
        <label asp-for="LineSearchModel.DeparturePlace">Indulási hely:</label>
        <input asp-for="LineSearchModel.DeparturePlace" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LineSearchModel.DepartureTime">Indulási idő:</label>
        <input asp-for="LineSearchModel.DepartureTime" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LineSearchModel.ArrivalPlace">Érkezési hely:</label>
        <input asp-for="LineSearchModel.ArrivalPlace" class="form-control" />
    </div>

    <div>
        <input type="submit" value="Search">
    </div>
</form>

<br />
<div>
    <h3>Rendeléseim:</h3>
    @{
        if (Model != null && Model.TicketappContext != null && Model.TicketappContext.Tickets != null && Model.TicketappContext.Tickets.Any())
        {
            var tickets = Model.TicketappContext.Tickets
                .Include(t => t.DepartureTime)
                .Include(t => t.Line)
                .Where(e => e.User.Id.Equals(User.FindFirstValue(ClaimTypes.NameIdentifier)));

            foreach (var ticket in tickets)
            {
                <div>
                    Rendelési azonosító: 
                    <a asp-controller="Ticket" asp-action="ShowTicket" asp-route-TicketId="@ticket.TicketId">
                        @ticket.TicketId.ToString()
                    </a>
                </div>
            }
        }
        else
        {
            <p>No tickets found.</p>
        }
    }

</div>
